<div class="p-6 max-w-lg mx-auto">
    <h2 class="text-xl font-semibold mb-4">{{ isEdit ? 'Editar' : 'Nuevo' }} Cliente</h2>

    <form [formGroup]="form" (ngSubmit)="guardar()">
      <input formControlName="nombreCompleto" placeholder="Nombre completo" class="input" />
      <input formControlName="telefono" placeholder="Teléfono" class="input" />
      <input formControlName="correoElectronico" placeholder="Correo electrónico" class="input" />
      <button class="mt-4 bg-green-600 text-white px-4 py-2 rounded">Guardar</button>
    </form>
  </div>